.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 60px; 
    width: 100%;
    padding: 3%;
    box-sizing: border-box;
}

.cardHorizontal1 {
    grid-column: 1 / 6; 
    grid-row: 1;
}

.cardHorizontal1 img {
width: 100%;
}

.cardHorizontal2 {
    grid-column: 6 / 11;
    grid-row: 1;
}

.cardHorizontal2 img {
width: 100%;
}

.simpleCard {
    grid-column: 1 / 3;
    grid-row: 2;
}

.simpleCard img {
width: 100%;
}

.simpleCard2 {
    grid-column: 3 / 5;
    grid-row: 2;
}

.simpleCard2 img {
width: 100%;
}

.simpleCardBig {
    grid-column: 5 / 9;
    grid-row: 2 / 4;
    background-color: aqua;
}

.simpleCardBig img {
    width: 100%;
}

.simpleCard3 img {
    width: 100%;
}

.simpleCard3 {
    grid-column: 9 / 11;
    grid-row: 2;
}

.simpleCard3 img {
    width: 100%;
}

.cardHorizontal3 {
    grid-column: 1 / 4;
    grid-row: 3;
    background-color: aqua;
}

.cardHorizontal4 {
    grid-column: 7 / 10;
    grid-row: 3;
    background-color: aqua;
}