.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 70px; 
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.cardHorizontal1 {
    grid-column: 1 / 6; 
    grid-row: 1;
}

.cardHorizontal1 img {
width: 100%;
}

.cardHorizontal2 {
    grid-column: 6 / 11;
    grid-row: 1;
}

.cardHorizontal2 img {
width: 100%;
}

.simpleCard {
    grid-column: 1 / 3;
    grid-row: 2;
}

.simpleCard img {
width: 100%;
}

.simpleCard2 {
    grid-column: 3 / 5;
    grid-row: 2;
}

.simpleCard2 img {
width: 100%;
}

.simpleCardBig {
    grid-column: 5 / 9;
    grid-row: 2 / 4;
}

.simpleCardBig img {
    width: 100%;
}

.simpleCard3 {
    grid-column: 9 / 11;
    grid-row: 2;
}


.simpleCard3 img {
    width: 100%;
}

.simpleCard4 {
    grid-column: 9 / 11;
    grid-row: 3;
}


.simpleCard4 img {
    width: 100%;
}

.simpleCard5 {
    grid-column: 1 / 3;
    grid-row: 4;
}


.simpleCard5 img {
    width: 100%;
}

.simpleCard6 {
    grid-column: 3 / 5;
    grid-row: 4;
}


.simpleCard6 img {
    width: 100%;
}

.cardHorizontal3 {
    grid-column: 1 / 5;
    grid-row: 3;
}

.cardHorizontal3 img {
width: 100%;
}

.cardHorizontal4 {
    grid-column: 5 / 11
}

.cardHorizontal4 img {
width: 100%;
}